@import "vanilla-framework/scss/vanilla";
@include vanilla;

.lorem::first-letter {
  font-size: 2em;
}

.lorem::first-line {
  font-size: 1.5em;
  color: blue;
}

::marker {
  color: pink;
  font-size: 1.5em;
}

::selection {
  background-color: cyan;
}
