{% extends 'base.html' %} {% block container %}

<section id="content" class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <p class="lorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in
        arcu gravida, porttitor sapien ut, malesuada nisl. Mauris rutrum ex a
        augue aliquam, sit amet aliquam libero porttitor. Ut a mauris accumsan,
        elementum augue id, laoreet lacus. Pellentesque aliquet nisl ut nibh
        suscipit suscipit. Morbi hendrerit nisi quis varius convallis. Cras
        pulvinar nisl a tellus bibendum, vitae ultricies tortor tempor. Maecenas
        at ligula porta, facilisis sem ac, elementum quam. Vestibulum gravida
        dolor a erat pharetra viverra. Mauris fermentum neque consequat,
        sollicitudin neque non, aliquet enim. Mauris ut maximus sem, in rhoncus
        eros. Aliquam ullamcorper tempor tristique. Mauris eleifend dui in urna
        scelerisque sagittis.
      </p>
      <ul>
        <li>Integer sit amet dapibus enim, vel luctus augue.</li>
        <li>Maecenas laoreet bibendum bibendum.</li>
        <li>Quisque gravida elit in ipsum condimentum tristique.</li>
        <li>Vestibulum id justo semper, aliquet tortor non, lacinia nunc.</li>
        <li>Praesent id metus mauris.</li>
        <li>Proin congue nisl a nisi blandit, id tempor dui euismod.</li>
        <li>Maecenas non rutrum arcu.</li>
        <li>Nullam et quam iaculis, aliquet dui eu, consectetur orci.</li>
        <li>Duis feugiat ut nibh et tempor.</li>
        <li>
          Quisque finibus molestie ligula, at facilisis nulla pharetra in.
        </li>
        <li>
          Pellentesque vitae erat tempor, volutpat nibh id, hendrerit justo.
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
